<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Counter</title>
</head>
<body>
    <div class="container">
        <h1>Count = {{x}}</h1>
        
        <a href="/"><button class="add" >+ 1</button></a>
        <a href="/2"><button class="add" >+ 2</button></a>

        <a href="/destroy_session"><button class="destroy"> DESTROY </button></a>
    </div>
</body>
</html>